{AlignArrayOfStructures: Left,
AlignConsecutiveAssignments: Consecutive,
AlignAfterOpenBracket: BlockIndent,
AlignConsecutiveDeclarations: Consecutive,
IndentWidth: 6,
NamespaceIndentation: All,
TabWidth: 6,
AllowShortBlocksOnASingleLine: Empty,
UseTab: AlignWithSpaces,
AllowShortEnumsOnASingleLine: False,
AllowShortFunctionsOnASingleLine: None,
AllowShortLoopsOnASingleLine: False,
BreakBeforeBraces: Allman,
IndentCaseLabels: false,
AlignConsecutiveMacros: Consecutive,
AllowShortIfStatementsOnASingleLine: false }